.banners-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  row-gap: 20px;
}

.banner {
  width: fit-content;
}

.name_banner {
  color: var(--text-h);
  font-size: 17px;
  text-decoration: none;
}
.name_banner:hover {
  color: cornflowerblue;
}
