.embla {
  overflow: hidden;
  width: var(--image-size);
  position: relative;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 1px;
  margin-bottom: 3px;
}

.embla__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--border);
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background 0.3s;
}

.embla__dot:hover {
  background: #999;
}

.embla__dot--selected {
  background: var(--text);
}