.mini {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

.big {
  width: 530px;
  height: 530px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}